body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-wrapper {
  width: 1200px;
  margin: 0 auto;
}

.main-navigation {
  padding-top: 16px;
  padding-bottom: 18px;
  padding-right: 72px;
  padding-left: 72px;

  color: #000000;

  background-color: #ffffff;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation li:nth-child(4n+1),
.site-navigation li:nth-child(4n+2) {
  text-align: left;
}

.site-navigation li:nth-child(4n+3),
.site-navigation li:nth-child(4n+4) {
  text-align: right;
}

.site-navigation li:nth-child(4n+1),
.site-navigation li:nth-child(4n+4) {
  width: 240px;
}

.site-navigation li:nth-child(4n+2),
.site-navigation li:nth-child(4n+3) {
  width: 288px;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, .3);
}

.container {    /* изменить имя класса */
  width: 1200px;
  margin: 0 auto;
  padding-top: 507px;

  background-image:
    url("../img/intro-welcome.svg"),
    url("../img/intro-mask.svg"),
    url("../img/background-mountains.jpg");
  background-repeat: no-repeat;
  background-size:
    459px 353px,
    auto,
    1200px 773px;
  background-position:
    50% 76px,
    50% 450px,
    50% -56px;
}

.intro {
  margin: 0 auto;
  /*margin-bottom: 37px;*/

  background-color: #ffffff;
}

.intro__header {
  width: 440px;
  margin: 0 auto;
  padding-top: 57px;

  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.reasons {
  margin-bottom: 55px;

  background-color: #ffffff;
}

.reasons__description {
  width: 491px;
  margin: 0 auto;
  margin-bottom: 51px;
  padding: 0;
  padding-top: 37px;

  font-weight: 400;
}

.reasons__list {
  margin: 0;
  padding: 0;

  list-style: none;

}

.features-list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
}

.features-list__item {
  width: 400px;
}

.features-list__item:first-of-type {
  order: -4;
}

.features-list__item:nth-of-type(6) {
  order: -3;
}

.features-list__item:nth-of-type(7) {
  order: -2;
}

.features-list__item:nth-of-type(8) {
  order: -1;
}

.features-list__item--blue{
  display: flex;
  flex-wrap: wrap;
  width: 1200px;

  color: #ffffff;

  background-color: #81b3d2;
}

.features-list__block {
  width: 400px;
}

.features-list__block--right {
  order: 1;
}

.features-list__item--grey {
  min-height: 256px;

  background-color: #eeeeee;
}

.features-list__item--white {
  min-height: 331px;
}

.features-list__item h3 {
  margin: 0;
  padding: 0;
  padding-top: 50px;
  padding-bottom: 25px;

  font-size: 21px;
  text-align: center;
}

.features-list__item--white h3 {
  padding-top: 160px;
}

.features-list__item span {
  display: block;
  margin-bottom: 25px;

  font-weight: 400;
  text-align: center;
}

.features-list__item p {
  width: 281px;
  margin: 0 auto;

  font-weight: 400;
  text-align: center;
}

.features-list__item--blue p {
  width: 305px;
}

.features-list__item--grey p {
  width: 265px;
}

.features-list__item--white p {
  width: 285px;
}

.search__intro {
  display: block;
  margin-bottom: 32px;

  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.search__description {
  width: 436px;
  margin: 0 auto;
  margin-bottom: 52px;

  line-height: 24px;
  font-weight: 400;
  text-align: center;
}

.search__open-button {
  /*margin: 0 auto;*/

  font: inherit;
  font-size: 21px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

  color: #ffffff;

  background-color: #766357;
  border: none;
}

.search__open-button:hover,
.search__open-button:focus {
  background-color: #604e43;
}

.search__open-button:active {
  color: #928a85;

  background-color: #503e33;
}

.search__form {
  width: 568px;
  margin: 0 auto;
  padding: 0;
}

.search__form input {
  font: inherit;
  text-transform: uppercase;
  vertical-align: middle;

  background-color: #f2f2f2;
  border: none;
}

.search__form input:hover {
  background-color: #ebebeb;
}

.search__form input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.search__number {
  text-align: center;
}

.search__form-button {
  font: inherit;
  font-size: 21px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

  color: #ffffff;

  background-color: #81b3d2;
  border: none;
}

.search__form-button:hover,
.search__form-button:focus {
  background-color: #669ec0;
}

.search__form-button:active {
  color: #94b9d2;

  background-color: #5496bd;
}

.example {
  /*z-index: 10;*/
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;

  min-height: 120px;


  background-color: rgba(255,255,255,0.9);
}

.footer-main {
  position: relative;
  z-index: 100;

  margin-top: -120px;
}

.footer__name-link {
  width: 33%;
  margin: 0 auto;

  text-align: center;
}

.footer__social {
  width: 33%;
  margin: 0 auto;
}

.footer__copyright {
  width: 33%;
  margin: 0 auto;

}

/* стили для иннер */

.hotel-filter {
  width: 1200px;
  margin: 0 auto;

  background-image:
    url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: 1200px 562px;
  background-position: center;
}

.hotel-filter__form {
  width: 1056px;
  margin: 0 auto;
}

.hotel-filter__field-container {
  display: flex;
  flex-wrap: wrap;

}

.hotel-filter__field--infrastructure {
  width: 240px;
}

.hotel-filter__field--typeofhouse {
  width: 288px;
}

.hotel-filter__field--price {
  width: 528px;
}

.hotel-filter__field {
  margin: 0;
  padding: 0;

  font: inherit;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  vertical-align: middle;
  font-weight: 400;

  color: #ffffff;

  border: none;
}

.hotel-filter__field legend {
  padding-top: 30px;
  padding-bottom: 30px;

  font-size: 16px;
  font-weight: 700;
}

.hotel-filter__field--price legend {
  padding-bottom: 12px;
}

.hotel-filter__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.hotel-filter__option {
  padding-bottom: 32px;
}

.hotel-filter__option label {
  margin-left: 40px;
}

.hotel-filter__price-controls {
  border: 2px solid #ffffff;
}

.hotel-filter__price-controls input {
  font: inherit;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  font-weight: 400;

  color: #ffffff;

  background-color: transparent;
  border: none;
}

.hotel-filter__button {
  font: inherit;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

  color: #ffffff;

  background-color: transparent;
  border: 2px solid #ffffff;
}

.hotel-filter__button:hover,
.hotel-filter__button:focus {
  color: #000000;

  background-color: #ffffff;
}

.search-result {
  display: flex;
  flex-wrap: wrap;
  width: 1056px;
  margin: 0 auto;
}

.search-result__total {
  width: 120px;
  margin: 0;
  padding: 0;
  padding-top: 32px;
  padding-bottom: 33px;

  font-size: 21px;
}

.search-result span {
  width: 120px;
  padding-top: 39px;
  padding-bottom: 35px;

  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-align: right;
}

.search-result__filter {
  display: flex;
  flex-wrap: wrap;
  width: 288px;
  margin: 0;
  margin-left: 5px;
  padding: 0;

  list-style: none;
}

.search-result__item {
  margin-left: 34px;
  padding-top: 39px;
  padding-bottom: 35px;

  line-height: 18px;
}

.search-result__item a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;

  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dashed #81b3d2;
}

.search-result__item a:hover,
.search-result__item a:focus {
  color: #81b3d2;
}

.search-result__item a:active {
  color: #000000;

  border: none;
}

.search-result__item--current a {
  color: #81b3d2;

  border: none;
}

.search-result__tab-filter {
  width: 528px;
  margin: 0;
  padding: 0;

  text-align: right;

  list-style: none;
}

.catalog__list {
  width: 1056px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.catalog__item {
  display: flex;

}

.catalog__item-wrapper {
  width: 270px;
  margin-left: 31px;
  margin-right: 522px;
}

.catalog__name {
  font-size: 21px;
}

.catalog__name a {
  color: #000000;
}

.catalog__name a:hover,
.catalog__name a:focus {
  color: #81b3d2;
}

.catalog__name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog__mark,
.catalog__price {
  display: inline-block;

  color: #333333;
  font-weight: 400;
}

.catalog__mark {
  width: 110px;
  margin-right: 6px;
}

.catalog__price {
  width: 143px;
}

.catalog__button {
  font: inherit;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

  color: #ffffff;

  border: none;
}

.catalog__button--more-link {
  background-color: #81b3d2;
}

.catalog__button--more-link:hover,
.catalog__button--more-link:focus {
  background-color: #669ec0;
}

.catalog__button--more-link:active {
  color: rgba(255, 255, 255, 0,3);

  background-color: #5496bd;
}

.catalog__button--book-link {
  background-color: #766357;
}

.catalog__button--book-link:hover,
.catalog__button--book-link:focus {
  background-color: #604e43;
}

.catalog__button--book-link:active {
  color: rgba(255, 255, 255, 0,3);

  background-color: #503e33;
}

.catalog__rate {

  color: #666666;
  font-weight: 400;

  background-color: #f2f2f2;
}

/*конец стилей для инер */

.footer__name-link {
  font-size: 21px;
}

.footer__social {
  list-style: none;
}

.footer__copyright span {
  font-weight: 400;
}

