body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-wrapper {
  position: relative;

  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
}

.main-header__logo {
  position: absolute;
  top: 0;
  right: 44.25%;
  left: 44.25%;
}

.main-navigation {
  padding-top: 16px;
  padding-bottom: 18px;
  padding-right: 72px;
  padding-left: 72px;

  color: #000000;

  background-color: #ffffff;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation li {
  width: 240px;
}

.site-navigation li:nth-child(4n+2) {
  margin-right: 96px;
}

.site-navigation li:nth-child(4n+1),
.site-navigation li:nth-child(4n+2) {
  text-align: left;
}

.site-navigation li:nth-child(4n+3),
.site-navigation li:nth-child(4n+4) {
  text-align: right;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, .3);
}

.main-container {
  padding-top: 507px;

  background-image:
    url("../img/intro-welcome.svg"),
    url("../img/intro-mask.svg"),
    url("../img/background-mountains.jpg");
  background-repeat: no-repeat;
  background-size:
    459px 353px,
    auto,
    1200px 773px;
  background-position:
    50% 76px,
    50% 450px,
    50% -56px;

  background-color: #96bbd5;
}

.intro {
  margin: 0 auto;
  /*margin-bottom: 37px;*/

  background-color: #ffffff;
}

.intro__header {
  width: 440px;
  margin: 0 auto;
  padding-top: 57px;

  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.reasons {
  margin-bottom: 55px;

  background-color: #ffffff;
}

.reasons__description {
  width: 491px;
  margin: 0 auto;
  margin-bottom: 51px;
  padding: 0;
  padding-top: 37px;

  font-weight: 400;
}

.reasons__list {
  margin: 0;
  padding: 0;

  list-style: none;

}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.features-list__item {
  width: 400px;
}

.features-list__item:first-of-type {
  order: -4;
}

.features-list__item:nth-of-type(6) {
  order: -3;
}

.features-list__item:nth-of-type(7) {
  order: -2;
}

.features-list__item:nth-of-type(8) {
  order: -1;
}

.features-list__item--blue{
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  color: #ffffff;

  background-color: #81b3d2;
}

.features-list__block {
  width: 400px;
}

.features-list__block--right {
  order: 1;
}

.features-list__item--grey {
  min-height: 256px;

  background-color: #eeeeee;
}

.features-list__item--white {
  min-height: 331px;
}

.features-list__item h3 {
  position: relative;

  margin: 0;
  padding: 0;
  padding-top: 50px;
  padding-bottom: 25px;

  font-size: 21px;
  text-align: center;
}

.features-list__item--house h3::before {
  content: "";

  position: absolute;
  top: 60px;
  left: 162px;

  width: 75px;
  height: 72px;

  background-image: url("../img/house-icon.svg");
  background-repeat: no-repeat;
}

.features-list__item--food h3::before{
  content: "";

  position: absolute;
  top: 60px;
  left: 162px;

  width: 74px;
  height: 70px;

  background-image: url("../img/burger-icon.svg");
  background-repeat: no-repeat;
}

.features-list__item--gift h3::before{
  content: "";

  position: absolute;
  top: 60px;
  left: 168px;

  width: 64px;
  height: 76px;

  background-image: url("../img/gift-icon.svg");
  background-repeat: no-repeat;
}

.features-list__item--white h3 {
  padding-top: 160px;
}

.features-list__item span {
  display: block;
  margin-bottom: 25px;

  font-weight: 400;
  text-align: center;
}

.features-list__item p {
  width: 281px;
  margin: 0 auto;

  font-weight: 400;
  text-align: center;
}

.features-list__item--blue p {
  width: 305px;
  margin-bottom: 52px;
}

.features-list__item--grey p {
  width: 265px;
  margin-bottom: 52px;
}

.features-list__item--white p {
  width: 285px;
  margin-bottom: 68px;
}

.search__intro {
  display: block;
  margin-bottom: 32px;

  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.search__description {
  width: 436px;
  margin: 0 auto;
  margin-bottom: 47px;

  line-height: 24px;
  font-weight: 400;
  text-align: center;
}

.search__open-button {
  display: inline-block;
  padding: 30px 140px;

  font: inherit;
  font-size: 21px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;

  background-color: #766357;
  border: none;
}

.search__open-button:hover,
.search__open-button:focus {
  background-color: #604e43;
}

.search__open-button:active {
  color: #928a85;

  background-color: #503e33;
}

.search__form {
  position: absolute;

  width: 568px;
  margin: 0 auto;
  padding: 0;

  background-color: #ffffff;
}

.search__form input {
  font: inherit;
  text-transform: uppercase;
  vertical-align: middle;

  background-color: #f2f2f2;
  border: none;
}

.search__form input:hover {
  background-color: #ebebeb;
}

.search__form input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.search__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 460px;
  margin: 0 auto;
}

.search__item {
  position: relative;

  width: 460px;
  margin: 0 auto;
  padding-bottom: 29px;
}

.search__item--small {
  display: flex;
  align-items: center;

  width: 230px;
}

.search__item:first-of-type {
  padding-top: 55px;
}

.search__item--children {
  padding-left: 50px;
  box-sizing: border-box;
}

.search__item--adults label {
  margin-right: 40px;
}

.search__item--children label {
  margin-right: 24px;
}

.search__date {
  width: 346px;
  box-sizing: border-box;

  padding-top: 8px;
  padding-right: 30px;
  padding-bottom: 8px;
  padding-left: 13px;
}

.search__date--in {
  margin-left: 21px;
}

.search__date--out {
  margin-left: 17px;
}

.search__date-button {
  padding: 0;
  margin: 0;
  width: 21px;
  height: 22px;

  background-color: transparent;

  border: none;
  cursor: pointer;

}

.search__date-button:hover path,
.search__date-button:focus path {
  fill: #000;
}

.search__date-button:active path {
  fill: #81b3d2;
}

.search__date-button--in {
  position: absolute;
  top: 63px;
  left: 429px;
}

.search__date-button--out {
  position: absolute;
  top: 8px;
  left: 429px;
}

.search__number {
  width: 38px;
  height: 38px;

  box-sizing: border-box;

  text-align: center;
}

.search__minus-button {
  position: relative;

  width: 38px;
  height: 38px;

  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

.search__minus-button::before {
  content: "";

  position: absolute;
  top: 18px;
  left: 13px;

  width: 12px;
  height: 3px;

  background-color: #a9a9a9;
}

.search__minus-button:hover::before,
.search__minus-button:focus::before {
  background-color: #000;
}

.search__minus-button:active::before {
  background-color: #81b3d2;
}

.ops {
  display: flex;
}

.search__plus-button {
  position: relative;

  width: 38px;
  height: 38px;

  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

.search__plus-button::before {
  content: "";

  position: absolute;
  top: 18px;
  left: 13px;

  width: 12px;
  height: 3px;

  background-color: #a9a9a9;
}

.search__plus-button::after {
  content: "";

  position: absolute;
  top: 18px;
  left: 13px;

  width: 12px;
  height: 3px;

  background-color: #a9a9a9;
  border: none;
  cursor: pointer;

  transform: rotate(-90deg);
}

.search__plus-button:hover::before,
.search__plus-button:focus::before,
.search__plus-button:hover::after,
.search__plus-button:focus::after {
  background-color: #000;
}

.search__plus-button:active::before,
.search__plus-button:active::after {
  background-color: #81b3d2;
}

.search__form-button {
  display: inline-block;
  padding: 16px 197px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 55px;

  font: inherit;
  font-size: 21px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

  color: #ffffff;

  background-color: #81b3d2;
  border: none;
}

.search__form-button:hover,
.search__form-button:focus {
  background-color: #669ec0;
}

.search__form-button:active {
  color: #94b9d2;

  background-color: #5496bd;
}

.map-img {
  display: block;
}


/* стили для иннер */

.hotel-filter {
  margin: 0 auto;

  background-image:
    url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: 1200px 562px;
  background-position: center;
  background-color: #574241;
}

.hotel-filter__form {
  width: 1056px;
  margin: 0 auto;
}

.hotel-filter__field-container {
  display: flex;
  flex-wrap: wrap;

}

.hotel-filter__field {
  margin: 0;
  padding: 0;

  font: inherit;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  vertical-align: middle;
  font-weight: 400;

  color: #ffffff;

  border: none;
}

.hotel-filter__field--infrastructure {
  width: 240px;
}

.hotel-filter__field--typeofhouse {
  width: 288px;
}

.hotel-filter__field--price {
  margin-left: 200px;
  width: 328px;
}

.hotel-filter__field legend {
  padding-top: 30px;
  padding-bottom: 30px;

  font-size: 16px;
  font-weight: 700;
}

.hotel-filter__field--price legend {
  padding-bottom: 9px;
}

.hotel-filter__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.hotel-filter__option {

  padding-bottom: 32px;
}

.hotel-filter__option label {
  position: relative;

  padding-left: 40px;

  cursor: pointer;
}

.hotel-filter__checkbox + label::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.hotel-filter__checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.hotel-filter__price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.hotel-filter__price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.hotel-filter__field--price label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.hotel-filter__price-min,
.hotel-filter__price-max {
  width: 90px;
  padding-left: 65px;
}

.hotel-filter__price-controls input {
  width: 50px;
  margin: 0;

  font: inherit;
  font-size: 14px;
  line-height: 36px;
  text-transform: uppercase;
  vertical-align: top;
  text-align: center;
  font-weight: 400;

  color: #ffffff;

  background-color: transparent;
  border: none;
}

.hotel-filter__range-controls {
  position: relative;

  margin-bottom: 32px;
}

.hotel-filter__scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.hotel-filter__bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.hotel-filter__toggle {
  position: absolute;
  top: -9px;

  width: 20px;
  height: 20px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;

  padding: 0;
}

.hotel-filter__toggle:hover {
  background: #1c4f80;
}

.hotel-filter__toggle--min {
  left: 0;
}

.hotel-filter__toggle--max {
  left: 80%;
}

.hotel-filter__button {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font: inherit;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.hotel-filter__button:hover,
.hotel-filter__button:focus {
  color: #000000;

  background-color: #ffffff;
}

.search {
  position: relative;

  width: 576px;
  margin: 0 auto;
}

.search-result {
  display: flex;
  flex-wrap: wrap;
  width: 1056px;
  margin: 0 auto;
}

.search-result__total {
  width: 120px;
  margin: 0;
  padding: 0;
  padding-top: 32px;
  padding-bottom: 33px;

  font-size: 21px;
}

.search-result span {
  width: 120px;
  padding-top: 39px;
  padding-bottom: 35px;

  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-align: right;
}

.search-result__filter {
  display: flex;
  flex-wrap: wrap;
  width: 288px;
  margin: 0;
  margin-left: 5px;
  padding: 0;

  list-style: none;
}

.search-result__item {
  margin-left: 34px;
  padding-top: 39px;
  padding-bottom: 35px;

  line-height: 18px;
}

.search-result__item a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;

  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dashed #81b3d2;
}

.search-result__item a:hover,
.search-result__item a:focus {
  color: #81b3d2;
}

.search-result__item a:active {
  color: #000000;

  border: none;
}

.search-result__item--current a {
  color: #81b3d2;

  border: none;
}

.search-result__tab-filter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 523px;
  margin: 0;
  padding: 0;

  text-align: right;

  list-style: none;
}

.search-result__up {
  display: inline-block;
  margin-right: 13px;
  width: 11px;
  height: 10px;

  vertical-align: middle;
  font-size: 0;

  background-image: url("../img/icon-up-dir.svg"); /*Здесь, видимо, чтобы не были черными
                                                    стрелочки нужно будет инлайнить в html свгешки, да? */
}

.search-result__down {
  display: inline-block;
  width: 11px;
  height: 10px;

  vertical-align: middle;
  font-size: 0;

  background-image: url("../img/icon-down-dir.svg");
}

.catalog__list {
  width: 1200px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.catalog__item {
  display: flex;
  min-height: 151px;

  border-top: 1px solid #e5e5e5;
}

.catalog__item:last-of-type {
  border-bottom: 1px solid #e5e5e5;
}

.catalog__image {
  margin-left: 73px;
  padding-top: 30px;
}

.catalog__item-wrapper {
  width: 270px;
  margin-left: 31px;
  margin-right: 522px;
   padding-top: 25px;
}

.catalog__name {
  margin: 0;
  margin-bottom: 6px;
  padding: 0;

  font-size: 21px;
}

.catalog__name a {
  color: #000000;
}

.catalog__name a:hover,
.catalog__name a:focus {
  color: #81b3d2;
}

.catalog__name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog__mark,
.catalog__price {
  display: inline-block;
  margin-bottom: 10px;

  vertical-align: middle;
  text-align: left;
  color: #333333;
  font-weight: 400;
}

.catalog__mark {
  width: 110px;
  margin-right: 6px;
}

.catalog__price {
  width: 143px;
  margin-left: -5px;
}

.catalog__button {
  padding-top: 3px;
  padding-right: 17px;
  padding-bottom: 4px;
  padding-left: 17px;

  font: inherit;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

  color: #ffffff;

  border: none;
}

.catalog__button--more-link {
  background-color: #81b3d2;
}

.catalog__button--more-link:hover,
.catalog__button--more-link:focus {
  background-color: #669ec0;
}

.catalog__button--more-link:active {
  color: rgba(255, 255, 255, 0,3);

  background-color: #5496bd;
}

.catalog__button--book-link {
  background-color: #766357;
}

.catalog__button--book-link:hover,
.catalog__button--book-link:focus {
  background-color: #604e43;
}

.catalog__button--book-link:active {
  color: rgba(255, 255, 255, 0,3);

  background-color: #503e33;
}

.catalog__rate {
  position: relative;

  display: flex;
  justify-content: center;
  width: 110px;
  margin-top: 93px;
  margin-bottom: 30px;

  color: #666666;
  font-weight: 400;

  background-color: #f2f2f2;
}

.catalog__rate--four::before {
  content: "";

  position: absolute;
  top: -64px;
  right: 0;

  width: 90px;
  height: 17px;

  background-image: url("../img/star-4.png"); /* */
  background-repeat: no-repeat;
}

.catalog__rate--three::before {
  content: "";

  position: absolute;
  top: -64px;
  right: 0;

  width: 65px;
  height: 17px;

  background-image: url("../img/star-4.png");
  background-repeat: no-repeat;
}

.catalog__rate--two::before {
  content: "";

  position: absolute;
  top: -64px;
  right: 0;

  width: 41px;
  height: 17px;

  background-image: url("../img/star-4.png");
  background-repeat: no-repeat;
}

/*конец стилей для инер */


.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

  min-height: 120px;


  background-color: rgba(255,255,255,0.9);
}

.footer-main {
  position: relative;
  z-index: 100;

  margin-top: -120px;
}

.footer__name-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  width: 400px;
  margin: 0 auto;

  /*text-align: center;*/
  font-size: 21px;
}

.footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  width: 400px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  margin: 0 auto;
  margin-right: 6px;

  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  opacity: 0.3;
}


.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  width: 400px;
  margin: 0 auto;
}

.footer__copyright span {
  margin-right: 8px;

  font-weight: 400;
}

.footer__button:hover path,
.footer__button:focus path {
  fill: #81b3d2;
}

.footer__button:active path {
  fill: #bdbbbc;
}
